#### Write a Python Program to find out common letters between two strings?

In [1]:
def common_letters():
    n1 = input("Enter your first name: ")
    n2 = input("Enter your second name: ")

    ##delete duplicates from the strings
    s1 = set(n1)
    s2 = set(n2)
    ## & opertor is used to fetch common letters
    lst = s1 & s2
    print(lst)

common_letters()

{'n'}

#### Count the frequency of words appearing in a string

In [ ]:
def word_count():
    str = input("Enter the sentence: ")

    li = str.split()

    d= {}

    for i in li:
        if i not in d.keys():
            d[i] = 0
        d[i] = d[i]+1
    print(d)

word_count()

{}

#### Convert two list into dictionary

In [ ]:
def list_to_dic():
    keys = [1,2,3]
    values= ['Sri','Tri','Scooby']

    result = dict(zip(keys,values))
    print(result)

list_to_dic()

{1: 'Sri', 2: 'Tri', 3: 'Scooby'}

#### Dictionary to Tuple

In [ ]:
def dict_to_tuple():
    x = {1: 'Sri', 2: 'Tri', 3: 'Scooby'}

    for i in x.items():
        print(i)
    
dict_to_tuple()

(1, 'Sri')
(2, 'Tri')
(3, 'Scooby')

### Understanding Array

In [ ]:
from array import *

vals = array('i',[5,8,9,4,6])
print(vals)

array('i', [5, 8, 9, 4, 6])

In [ ]:
def solution(A):
     for i in range(A):
          if i not in range(A):
               print(min(i))
A= [1,2,3]
solution(A)

TypeError: 'list' object cannot be interpreted as an integer

### Strings

In [ ]:
strg = "Hello Python"

print(strg[0:5])
print(strg[0:])
print(strg[::-1])
print(strg[6:])

Hello
Hello Python
nohtyP olleH
Python

### Sum of digits

In [ ]:

def sum_of_two_digits():
    enter_digit = input("Enter two digit number: ")
    sum = int(enter_digit[0]) + int(enter_digit[1])

    return sum


print(sum_of_two_digits())

9

### Backward Traversal
##### Write a while loop that starts at the last character in the string and works its way backwards to the first character in the string, printing each letter on a separate line, except backwards.

In [ ]:
new_str =  input("Enter a string: ")
index = -1
length = -1 * len(new_str)

while index >= length:
    letter = new_str[index]
    print(letter)
    index -= 1

k
i
r
s

In [ ]:
vegies = ['a','b','c']

print(vegies)

for v in vegies:
    print(v)

['a', 'b', 'c']
a
b
c

In [ ]:
## Initialising a Variable

nums = [1,2,3]
sums = 0 ##Initialise

for num in nums:
    sums= sums+num
    print(sums)

1
3
6

### Highest Score
#### A List of scores of students are given, implement a program that calculates the highest score from the given list.

In [ ]:
student_scores = [80, 60, 90, 65, 75, 55]

max_score = 0
for score in student_scores:
    if max_score < score:
        max_score = score
        
print(f"Highest score outside loop is {max_score}")

Highest score outside loop is 90

### Find Integer Numbers
#### Implement a program which finds integer numbers from given List.

In [ ]:
#manual approach
custom_list = [11, 30.1, 90.2, 30, 45.1, 54, '54']

integer_test = int(0)
for num in custom_list:
    if type(integer_test) == type(num):
        integer_test = num
        print(integer_test)

11
30
54

In [ ]:
#functional approach
custom_list = [11, 30.1, 90.2, 30, 45.1, 54, '54']

for num in custom_list:
    if isinstance(num,int):
        print(num)

11
30
54

### Sum of Above Average Scores
#### Implement a function which takes a List as a parameter and returns the sum of the scores which are above average.

##### Example
##### student_scores = [80, 60, 50, 65, 75, 55]
##### sum_score_above_average(student_scores) # 220

In [ ]:
student_scores = [80, 60, 50, 65, 75, 55]

def sum_score_above_average(p_student_scores):
    sum_scores = 0
    numbers_of_student = 0
    for scores in p_student_scores:
        sum_scores += scores
        numbers_of_student+=1 
    averag_score = sum_scores / numbers_of_student

    final_score = 0

    for scores in p_student_scores:
        if scores > averag_score:
            final_score += scores


    print(f"sum_score_above_average(student_scores) #  {final_score}")

sum_score_above_average(student_scores)

sum_score_above_average(student_scores) #  220

### Loop over custom function

In [ ]:
def password_controller(password):
    if len(password)>8:
        return True
    else:
        return False
    
password_list = ["abshs","1234shssjs"]

for password in password_list:
    result = password_controller(password)
    print(password, result)

abshs False
1234shssjs True

#### Adding Even Numbers in ANY Range

In [ ]:
def add_even_numbers(start, end):
#TODO
    total_sum = 0
    for num in range(start,end+1):
        if num %  2 == 0:
            total_sum += num
    return total_sum


add_even_numbers(1,100)

2550

### Check Username
#### Implement a while loop which gets continuously username from console by using input function and terminates when the input is equal to "test".

In [ ]:
username = ""


while username != "test":
    username = input("Enter username: ")

### CONTINUE

In [ ]:
## PRINTING ALL NUMBERS FROM 1 TO 10 EXCEPT 5

for num in range(1,11):
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

### BREAK

In [ ]:
## PRINTING ALL NUMBERS FROM 1 UNTILL IT REACHES 5

for num in range(1,11):
    if num == 5:
        break
    print(num)

1
2
3
4

### Numbers Divisible by 5 Until 130
#### Implement a function which takes a given ordered list as a parameter and displays numbers divisible by 5 and if a number is greater than 130 display STOP in the console.

In [ ]:
p_list = [12, 15, 32, 40, 52, 75, 122, 132, 150, 180, 200] 

def numbers_divisible_byfive(p_list):
    for num in p_list:
        if num % 5 ==0:
            print(num)
        elif num > 130:
            break
    print("STOP")

numbers_divisible_byfive(p_list)

15
40
75
STOP

### Factorial using Loop
#### Implement a function that takes an integer number as a parameter and returns factorial of this number.

In [ ]:
def factorial(p_num):
    #Initial factorial equal to 1
    factorial = 1
    if p_num == 0:
       return "The factorial of 0 is 1"
    elif p_num < 0:
        return "Factorial does not exist for negative numbers"
    else:
        for i in range(1,p_num+1):
            factorial = factorial*i
        return f"The factorial of {p_num} is {factorial}"
p_num = int(input("Enter a number: "))

factorial(p_num)

The factorial of 4 is 24

### Sum, Count and Average of Entered Numbers
##### Write a program which repeatedly reads numbers until the user enters "done". Once “done” is entered, print out the total, count, and average of the numbers.
##### If the user enters anything other than a number, detect their mistake using try and except and print an error message and skip to the next number.
##### Step 1 - Create a function which checks for numbers using try and except block.
##### Step 2 - Inside while loop ask for input
##### Step 3 - Calculate count, sum and average

In [ ]:

def check_for_flaot(p_input):
    try:
        val = float(p_input)
        return val
    except(ValueError, TypeError):
        print("Error, please enter a numeric input")
        return False
##initilising variable   
count = 0
average= 0.0
total = 0.0

while True:
    input_number =  input("Enter a number: ")
    if input_number == "done":
        break


    number = check_for_flaot(input_number)
    if not number:
        continue


    count+=1
    total = total+number
if count != 0:
    average = total/count

print(total, count, average)

Error, please enter a numeric input
Error, please enter a numeric input
12.0 3 4.0

##### write a function:
##### def solution(A):

##### that given an array A of N integers, returns the smallest positive integer (greater than zero) that doest not occur in A.

##### For example, given A= [1,3,6,4,1,2], THE FUNCTION should return .

In [ ]:
A=[1,3,6,4,1,-2]
def solution(A):
    # Create a set to store positive integers encountered
    positive_integers = set()
    
    # Iterate through the array to record positive integers
    for num in A:
        if num > 0:
            positive_integers.add(num)
    
    smallest_positive=1

    while smallest_positive in positive_integers:
        smallest_positive+=1

    return smallest_positive


solution(A)

2

#### Find the Missing Positive Integer: Given an unsorted integer array, find the smallest positive integer that does not exist in the array.

In [ ]:
nums = [3, 4, 5, 1,2]
# Output: 2

def missing_positive_int(nums):
    positive_integer = set()

    for num in nums:
        if num > 0:
            positive_integer.add(num)

    smallest_positive = 1
    while smallest_positive in positive_integer:
        smallest_positive+=1

    return smallest_positive


missing_positive_int(nums)

6

#### Find the Missing Element: Given two arrays nums1 and nums2, where nums2 contains all elements present in nums1 except one, find the missing element. All elements in nums1 and nums2 are unique.

In [ ]:
# Example usage:
nums1 = [4, 12, 9, 5, 6]
nums2 = [4, 9, 12, 6]

def missing_num(nums1, nums2):
    missing_num= 0 
    for num in nums1+nums2:
        missing_num ^= num
    return missing_num
    
## This loop iterates through all the elements in the concatenated list of nums1 and nums2. For each element, it performs an XOR operation (^=) with the missing_element. XOR operation (exclusive OR) is a bitwise operation that results in 1 if the bits are different, and 0 if they are the same.

## If a number appears twice (once in nums1 and once in nums2), its XOR will cancel out, leaving the missing element.
## If a number appears only once, its XOR with 0 (initial value of missing_element) will give the number itself.

missing_num(nums1, nums2)

5

##### Write a function to calculate the sum of all elements in a given list of integers.

In [ ]:
numbers = [1, 2, 3, 4, 5]

def cal_sum(a):
    total=0
    for num in a:
        total+=num
    return total


cal_sum(numbers)

15

##### Write a function to find the maximum element in a list of integers.

In [ ]:
numbers = [5, 8, 2, 10, 3]
def max_num(nums):
    maximum_number = 0
    for n in nums:
        if maximum_number<n:
            maximum_number= n
    return maximum_number

max_num(numbers)

10

##### how you can perform null imputation with the mean of numbers for a specific column using pandas

In [ ]:
import pandas as pd

# Sample order data
order_data = {
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [201, 202, 203, 204, 205],
    'product_id': [301, 302, None, 304, 305],  # Simulating missing values
    'quantity': [5, 3, 4, None, 2],            # Simulating missing values
    'unit_price': [10.5, None, 15.2, 8.0, 12.3],  # Simulating missing values
}

df = pd.DataFrame(order_data)
df

   order_id  customer_id  product_id  quantity  unit_price
0       101          201       301.0       5.0        10.5
1       102          202       302.0       3.0         NaN
2       103          203         NaN       4.0        15.2
3       104          204       304.0       NaN         8.0
4       105          205       305.0       2.0        12.3

In [ ]:
mean_unit_price = df['unit_price'].mean()

df['unit_price'].fillna(mean_unit_price, inplace= True)

df

   order_id  customer_id  product_id  quantity  unit_price
0       101          201       301.0       5.0        10.5
1       102          202       302.0       3.0        11.5
2       103          203         NaN       4.0        15.2
3       104          204       304.0       NaN         8.0
4       105          205       305.0       2.0        12.3

### LIST OPERATIONS

In [ ]:
numbers = [10,20,30,40]

for index in range(len(numbers)):
    numbers[index] = numbers[index]*2

print(numbers)

[20, 40, 60, 80]

#### Square Of Items
##### Implement a function that takes a list as a parameter and turn list items into their square.

In [ ]:
def square_list(p_list):
    squared_list= []
    for num in p_list:
        squared_list.append(num**2)
    return squared_list

    
custom_list = [1,2,3,4,5]
square_list(custom_list)

[1, 4, 9, 16, 25]

In [ ]:
## Second approach

def square_list(p_list):
    for index in range(len(p_list)):
        p_list[index] =  p_list[index] * p_list[index]
    return p_list

    
custom_list = [1,2,3,4,5]
square_list(custom_list)

[1, 4, 9, 16, 25]

In [ ]:
## SLICING
vegetables = ["Tomato", "Cucumber", "Broccoli", "Onion", "Garlic"]
print(vegetables[:-2])

['Tomato', 'Cucumber', 'Broccoli']

In [ ]:
## Reverse a List using Slice Operator

custom_list = [1,2,3,4,5,6,7,8,9,10]
newlist = custom_list[::-1]
print(newlist)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##### Given an integer array, find the sum of the largest contiguous subarray within the array. For example, if the input is [−1, −3, 5, −4, 3, −6, 9, 2], then return 11 (because of [9, 2]). Note that if all the elements are negative, you should return 0.

In [ ]:
def max_subarray_sum(arr):
    max_current = max_global = 0

    for i in arr:
        max_current= max(i,max_current+i)
        max_global = max(max_global,max_current)

    return max_global

input_array = [-1, -3, 5, -4, 3, -6, 9, 2]

max_subarray_sum(input_array)

11

#### Write a function smallest_multiple to find the smallest number that is perfectly divisible (i.e. no remainder) by all numbers from 1 to the target number.

In [ ]:
import math

def lcm(a,b):
    return (a*b)//math.gcd(a,b)
    

def smallest_multiple(target):
    if target <1:
        return 0
    
    multiple= 1

    for i in range(1, target+1):
        multiple = lcm(multiple,i)

    return multiple

target= 11
smallest_multiple(target)

27720

#### Write a Python function max_three(input) that prints all unique combinations of three distinct elements from a given list input. The function should generate combinations in the format (element1, element2, element3).

In [ ]:
from itertools import combinations

def max_three(input_list):
    comb =  combinations(input_list,3)

    for c in comb:
        print(c)

input_list = [11, 22, 23, 44]
max_three(input_list)

(11, 22, 23)
(11, 22, 44)
(11, 23, 44)
(22, 23, 44)

In [7]:
## Get RANDOM name from a list 
import random

friends = ["Rony","Scooby","Annie","Whiskey"]
print(random.choice(friends))

Scooby